<%- include('./partials/header.partial.ejs') %>

    <!-- Canvas -->
    <!-- <canvas class="orb-canvas"></canvas> -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner" style="margin-bottom: 0;">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>


            <style>
                .tags {
                    margin-top: 3em;
                }

                .tag {
                    background-color: var(--dark-color);
                    color: var(--light-color);
                    font-size: 0.85em;
                    font-weight: 700;
                    border-radius: 0.85rem;
                    padding: 0.25rem 1rem 0.35rem 1rem;
                    margin: 1rem 0.5em;
                    opacity: 0.75;
                }

                .tag:hover {
                    cursor: pointer;
                    opacity: 1;
                }

                .tag.active {
                    background-color: var(--light-color);
                    color: var(--dark-color);
                    box-shadow: 0 5px 15px -5px var(--dark-color);
                    opacity: 1;
                }
            </style>

            <div class="tags">
                <span class="tag active" id="mixed">Mixed</span>
                <span class="tag" id="selective">Selective</span>
            </div>
        </div>


        <div style="display: flex; justify-content: center; align-items: center;">
            <!-- Mixed -->
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }
            </style>

            <div style="width: fit-content; margin: 0 auto;" id="form-content">
                <form action="/url_parser" method="post">
                    <div class="form-item">
                        <label for="FILES_NUMBER">Files Number</label>
                        <input type="number" name="FILES_NUMBER" id="FILES_NUMBER"><br>
                    </div>

                    <div class="form-item">
                        <label for="url">URL</label>
                        <input type="text" name="url" id="url" />
                    </div>

                    <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                        <input type="submit" value="Submit">
                        <span class="overlay__btn-emoji"></span>
                    </button>
                </form>
            </div>

            <%- include('./partials/steps.ejs') %>

        </div>

    </div>

    <!-- <script type="module" src="js/new.js"></script> -->
    <script type="module" src="js/choose_sys.js"></script>

    </body>

    </html>