<%- include('./partials/header.partial.ejs') %>

    <!-- Canvas -->
    <!-- <canvas class="orb-canvas"></canvas> -->
    <!-- Overlay -->
    <div class="" style="display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 5em;
    height: fit-content;">

        <div style="width: 75%;">
            <!-- Overlay inner wrapper -->
            <div class="overlay__inner" style="margin-bottom: 0;">
                <!-- Buttons -->
                <div class="overlay__btns">
                    <button class="overlay__btn overlay__btn--transparent">
                        <a href="/">
                            Go Back
                        </a>
                    </button>

                    <button class="overlay__btn overlay__btn--colors">
                        <span>Visit CodSki</span>
                        <span class="overlay__btn-emoji"></span>
                    </button>
                </div>


                <style>
                    .tags {
                        display: flex;
                        justify-content: center;
                        margin-top: 1em;
                    }

                    .tag {
                        background-color: var(--dark-color);
                        color: var(--light-color);
                        font-size: 0.85em;
                        font-weight: 700;
                        border-radius: 0.85rem;
                        padding: 0.25rem 1rem 0.35rem 1rem;
                        margin: 1rem 0.5em;
                        opacity: 0.75;
                    }

                    .tag:hover {
                        cursor: pointer;
                        opacity: 1;
                    }

                    .tag.active {
                        background-color: var(--light-color);
                        color: var(--dark-color);
                        box-shadow: 0 5px 15px -5px var(--dark-color);
                        opacity: 1;
                    }
                </style>

                <div class="tags">
                    <span class="tag active" id="mixed">mixed</span>
                    <span class="tag" id="selective">selective</span>
                </div>

                <!-- Mixed -->
                <style>
                    label {
                        background-color: transparent;
                        border: 0;
                        font-size: 0.9em;
                        font-weight: 700;
                    }

                    input::placeholder {
                        color: var(--dark-color);
                        opacity: 0.75;
                        font-weight: 700;
                        font-size: 0.8em;
                    }

                    input[type="submit"] {
                        background-color: transparent;
                        color: white;
                        border: 0;
                        font-weight: 700;
                    }
                </style>

                <div style="width: fit-content; margin: 0 auto;" id="form-content">
                    <div class="tag-cont" id="mixed">
                        <form action="/url_parser" method="post">

                            <div class="form-item">
                                <!-- <label for="url">URL</label> -->
                                <input type="text" name="url" id="url" placeholder="Add a url for any file" />
                            </div>

                            <div class="form-item">
                                <!-- <label for="FILES_NUMBER">Files Number</label> -->
                                <input type="number" name="FILES_NUMBER" id="FILES_NUMBER"
                                    placeholder="How many files ?">
                            </div>

                            <input type="text" name="DTYPE" value="mixed" hidden>

                            <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                                <input type="submit" value="Submit">
                                <span class="overlay__btn-emoji"></span>
                            </button>
                        </form>
                    </div>

                    <div class="tag-cont" id="selective">
                        <form action="/url_parser" method="post">

                            <style>
                                #selected_pages {
                                    width: 25rem;
                                    overflow-x: scroll;
                                    display: flex;
                                    padding: 0.5em;
                                    background-color: rgba(255, 255, 255, 0.41);
                                    margin-top: 0.5em;
                                }

                                #selected_pages .page {
                                    background-color: var(--dark-color);
                                    border-radius: 3px;
                                    padding: 0.25rem;
                                    color: white;
                                    font-size: 0.75em;
                                    font-weight: 700;
                                    margin-right: 0.25rem;
                                    opacity: 0.75;
                                }

                                #selected_pages .page:hover {
                                    scale: 1.2;
                                    opacity: 1;
                                    cursor: pointer;
                                }
                            </style>

                            <div class="form-item">
                                <!-- <label for="url">URL</label> -->
                                <input type="text" name="url" id="url" placeholder="Insert a url for only one file" />
                            </div>

                            <div class="form-item">

                                <div style="display: flex">
                                    <input type="number" name="PAGES" id="pages_input"
                                        placeholder="What is the file number ?">

                                    <span id="add_page_btn" class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;
                                width: fit-content !important;
                                position: relative;
                                left: -2.5rem;
                                bottom: -0.12rem;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                font-size: 0.75em;
                                padding: 0rem 0.6rem;
                                scale: 1.075;">
                                        Add
                                    </span>
                                </div>

                                <textarea name="pages_arr" id="pages_arr" cols="30" rows="10"
                                    style="display: none;"></textarea>

                                <style>
                                    .form-note {
                                        display: block;
                                        margin-top: 0.5em;
                                        font-size: 0.85em;
                                        font-weight: 500;
                                    }
                                </style>
                                <span class="form-note">* click on the number to remove it.</span>

                                <div id="selected_pages">
                                    <span class="form-note">* selected numbers: </span>
                                </div>
                            </div>

                            <input type="text" name="DTYPE" value="selective" hidden>

                            <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                                <input type="submit" value="Submit">
                                <span class="overlay__btn-emoji"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <%- include('./partials/steps.ejs') %>

    </div>

    <!-- <script type="module" src="js/new.js"></script> -->
    <script src="js/delete_page.js"></script>
    <script type="module" src="js/choose_sys.js"></script>

    </body>

    </html>