<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="css/new.css">
</head>

<body>

    <!-- Canvas -->
    <!-- <canvas class="orb-canvas"></canvas> -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>

        </div>

        <div style="display: flex; justify-content: center; align-items: center;">

            <!-- Mixed -->
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }
            </style>
            <form action="/url_parser" method="post">
                <div class="form-item">
                    <label for="FILES_NUMBER">Files Number</label>
                    <input type="number" name="FILES_NUMBER" id="FILES_NUMBER"><br>
                </div>

                <div class="form-item">
                    <label for="url">URL</label>
                    <input type="text" name="url" id="url" />
                </div>

                <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                    <input type="submit" value="Submit">
                    <span class="overlay__btn-emoji"></span>
                </button>
            </form>

            <%- include('./partials/steps.ejs') %>

        </div>

    </div>

    <script type="module" src="js/new.js"></script>

</body>

</html>