<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="css/new.css">
</head>

<body>

    <ol>
        <% urls.forEach(url=> { %>
            <li>
                <%=url%>
            </li>
            <% }) %>
    </ol>

    <form action="/url_parser" method="post">
        <input type="text" name="url" id="url">
        <input type="submit" value="Submit">
    </form>

    <%- include('./partials/steps.ejs') %>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
        <script type="module" src="js/new.js"></script>
</body>

</html>