<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="css/new.css">
</head>

<body>

    <!-- Canvas -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/" target="_blank">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>
            <br>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }
            </style>


            <form action="/api/download" method="post">
                <p><b>Urls obtained successfuly</b></p>

                <div class="form-item">
                    <label for="website">File Type:</label>
                    <select name="FILE_TYPE" id="FILE_TYPE">
                        <option value="jpg">jpg</option>
                        <option value="pdf">pdf</option>
                    </select>
                    
                </div>

                <div class="form-item">
                    <label for="FOLDER_NAME">Folder Name</label>
                    <input type="text" name="FOLDER_NAME" id="FOLDER_NAME">
                </div>

                <div class="form-item">
                    <label for="FOLDER_NAME">File Name</label>
                    <input type="text" name="FILE_NAME" id="FILE_NAME">
                </div>

                <input type="text" name="NTYPE" value="MIXED" hidden>
                <input type="text" name="DTYPE" value="ALL" hidden>

                <button class="overlay__btn overlay__btn--colors" style="margin: 0 auto !important;">
                    <input type="submit" value="Submit">
                    <span class="overlay__btn-emoji"></span>
                </button>
            </form>

            <%- include('./partials/steps.ejs') %>
        </div>
    </div>

    <ol style="height: 1em; overflow-y: scroll;">
        <% urls.forEach(url=> { %>
            <li>
                <%=url%>
            </li>
            <% }) %>
    </ol>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script type="module" src="js/new.js"></script>
</body>

</html>