<%- include('./partials/header.partial.ejs') %>

    <!-- Canvas -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>

            <br>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }

                h1 {
                    display: block;
                    font-size: 5em !important;
                    font-weight: 900;
                    text-align: center;
                    margin-right: 0.5em;
                    color: var(--dark-color);
                }
            </style>

            <div class="table">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <span class="header">Download Results</span>
                            </td>
                            <td colspan="2">
                                <!-- <input class="search overlay__btn" placeholder="Search..." /> -->
                            </td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Status</td>
                            <td>Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="succeeded">
                            <td>lecture-note-1</td>
                            <td>Succeeded</td>
                            <td>9450.5KB</td>
                        </tr>
                        <tr class="succeeded">
                            <td>lecture-note-1</td>
                            <td>Succeeded</td>
                            <td>9450.5KB</td>
                        </tr>
                        <tr class="failed">
                            <td>lecture-note-1</td>
                            <td>Failed</td>
                            <td>9450.5KB</td>
                        </tr>
                        <tr class="succeeded">
                            <td>lecture-note-1</td>
                            <td>Succeeded</td>
                            <td>9450.5KB</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr>
                        <td colspan="100%">
                            <div class="pagination">
                                <div class="page active">1</div>
                                <div class="page">2</div>
                                <div class="page">3</div>
                                <div class="page">4</div>
                                <div class="page">5</div>
                            </div>
                        </td>
                    </tr> -->
                    </tfoot>
                </table>
            </div>

            <%- include('./partials/steps.ejs') %>

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script type="module" src="js/new.js"></script> -->
</body>
</html>