<%- include('./partials/header.partial.ejs') %>

    <!-- Canvas -->
    <!-- Overlay -->
    <div class="">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/">
                        Go Back
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>

            <br>
        </div>


        <div style="display: flex; justify-content: center; align-items: center;">
            <style>
                label {
                    background-color: transparent;
                    border: 0;
                    font-size: 0.9em;
                    font-weight: 700;
                }

                input[type="submit"] {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    font-weight: 700;
                }

                h1 {
                    display: block;
                    font-size: 5em !important;
                    font-weight: 900;
                    text-align: center;
                    margin-right: 0.5em;
                    color: var(--dark-color);
                }
            </style>

            <% if(result=="success" ) { %>
                <h1 class="succeeded">Download <br> Succeeded</h1>
                <% } else { %>
                    <h1 class="failed">Download <br> Failed</h1>
                    <% } %>


                        <%- include('./partials/steps.ejs') %>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script type="module" src="js/new.js"></script> -->
</body>

</html>