<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/new.css">
</head>

<body>

    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner">
            <div class="">
                <h1 id="typing" class="typing-demo">
                    Downloopy.
                </h1>
            </div>
            <br>

            <!-- Title -->
            <h1 class="overlay__title">
                Download <span class="text-gradient">free bulk files</span> from internet.
            </h1>
            <!-- Description -->
            <p class="overlay__description">
                Accessing free bulk number of files on internet manually takes different shapes, Downloopy's solution is
                to save your time by figuring out which way to access these files, <strong>So you can view or download them.</strong>
            </p>
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent">
                    <a href="/choose_sys" target="_blank">
                        Start Process
                    </a>
                </button>

                <button class="overlay__btn overlay__btn--colors">
                    <span>Visit CodSki</span>
                    <span class="overlay__btn-emoji"></span>
                </button>
            </div>
        </div>

    </div>

    <script type="module" src="js/new.js"></script>

</body>

</html>