.tabs {
    display: flex;
    position: relative;
    min-height: 200px;
    width: 500px;
    margin: 25px auto;
}
.tab {
    float: left;
}
label {
    background: #ddd;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: -1px;
}



input[type="radio"] {
    display: none;
}

.tab-content {
    /* position: absolute; */
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
}